* {
padding: 0px;
margin: 0px;
border: 0px;
}

html{
    font-family:Arial, Helvetica, sans-serif
}

.row::after{
    content: '';
    display: block;
    clear: both;
}

.top-header{
    background-color: white;
}

.logo{
    max-width: 6em;
    margin-left: 1.5em;
    margin-top: 1em;
    display: inline;
}

.menu{
    text-align: center;
}

.menu li{
    background-color: rgba(0, 0, 0, 0.8);
}

.menu li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.menu li:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.spotlight{
    text-align: center;
    background-image: url(images/wlpp-640.png);
    background-size: cover;
    padding: 4em;
    color: white;
}

.btm{
    text-decoration: none;
    color: white;
    background-color: rgba(1, 248, 211, 0.8);
    padding: 0.8em;
    display: inline-block;
    margin-top: 1.5em;
}

.btm:hover{
    background-color:rgba(31, 255, 221, 0.8) ;
}

.txt{
    text-align: center;
    padding: 3em;
    background-color: rgb(250, 250, 250);
}

.txt-article{
    margin: 1.5em;
    line-height: 1.5em;
}

.txt-article p{
    margin-top: 0.5em;
    color: rgb(55, 55, 55);
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 0.5em;
}

@media screen and (min-width:50em){
    .menu li{
        background-color: transparent;
        display: inline-block;
        float: right;
        position: relative;
        bottom: 4em;
    }

    .menu li a{
        color: black;
    }

    .menu li:hover{
        background-color: transparent;
    }

    .menu li a:hover{
        background-color: rgb(195, 195, 195);
    }

    .main-started-btm a{
        border: 0.3px solid black;
        padding:1em !important;
        
    }

    .spotlight{
        background-image:url(images/wlpp-1280.png);
        background-size: cover;
        padding: 8em;
    }

    .spotlight-txt{
        position: relative;
        top: 3em;
        font-size: 1.3em;
    }

    .txt-article{
        width:23%;
        margin: 1%;
        float: right;
    }


footer{
    clear: both;
}
   


}